*{
    margin: 0;
    padding: 0;
    font-family: trebuchet ms,Verdana,verdana ref,segoe ui,Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma,sans-serif;
    box-sizing: border-box;
}
ul{
    list-style-position: inside;
}
html{
    background: #494f5c;
    line-height: 1.6;
    letter-spacing: .06em;
    scroll-behavior: smooth;
    color: white;
    -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #2c3e50;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

.container{
    margin: 70px auto;
    max-width: 720px;
}
h1{
    font-size: 35px;
    margin-bottom: 25px;
}
a{
    word-wrap: break-word;
    border: none;
    box-shadow: inset 0 -2px 0 white;
    transition-property: box-shadow;
    transition-duration: .1s;
    color: #e8eef2;
    text-decoration: none;
    border: none;
    transition-duration: .4s;
    transition-timing-function: ease-out;
    background-color: transparent;
}
a:hover{
    color: white;
    text-shadow: 0 0 1px #fff;
}
hr{
    margin: 30px 0;
    border: 1px solid white;
}
p{
    margin: 5px 0;
}